<%= erb :admin_header %>
<!-- automatically refreshes the page to update questions -->
<meta http-equiv="refresh" content="15">
<main>
        <table id="different">
            <caption>Sheffield Users</caption>
            <tr>
                <th>User ID</th>
                <th>Question</th>
                <th>Reply:</th>
            </tr>   
            
            <% @sheffieldQuestions.each do |record| %>
            
            <% if record[4] != 2 %>
            <tr>           
                <td><%=h record[2] %></td>            
                <td><%=h record[3] %></td>
                <td>
                    <form action='/answerQuestion' method="POST" name="answerQuestion" id="answerQuestion<%=h record[0] %>">
                        <div><input type="text" name="answer" placeholder="Answer Here"></div>
                        <div><input type="text" id="hidden" name="questionID" value=<%=h record[0] %>></div>
                        <button type="submit" form="answerQuestion<%=h record[0] %>" value="Submit">
                            Reply
                        </button>
                    </form> 
                </td>
                <td>
                    <form action='/deleteQuestion' method="POST" name="deleteQuestion" id="deleteQuestion<%=h record[0] %>"> 
                        <div><input type="text" id="hidden" name="questionID" value=<%=h record[0] %>></div>
                        <button type="submit" form="deleteQuestion<%=h record[0] %>" value="Submit">
                            Delete Question
                        </button>
                    </form> 
                </td>
            </tr>
            <% end %>
            <% end %>
            
        </table>
    
        <table id="different">
            <caption>London Users</caption>
            <tr>
                <th>User ID</th>
                <th>Question</th>
                <th>Reply:</th>
            </tr>   
            
            <% @londonQuestions.each do |record| %>
            
            <% if record[4] != 2 %>
            <tr>           
                <td><%=h record[2] %></td>            
                <td><%=h record[3] %></td>
                <td>
                    <form action='/answerQuestion' method="POST" name="answerQuestion" id="answerQuestion<%=h record[0] %>">
                        <div><input type="text" name="answer" placeholder="Answer Here"></div>
                        <div><input type="text" id="hidden" name="questionID" value=<%=h record[0] %>></div>
                        <button type="submit" form="answerQuestion<%=h record[0] %>" value="Submit">
                            Reply
                        </button>
                    </form> 
                </td>
                <td>
                    <form action='/deleteQuestion' method="POST" name="deleteQuestion" id="deleteQuestion<%=h record[0] %>"> 
                        <div><input type="text" id="hidden" name="questionID" value=<%=h record[0] %>></div>
                        <button type="submit" form="deleteQuestion<%=h record[0] %>" value="Submit">
                            Delete Question
                        </button>
                    </form> 
                </td>
            </tr>
            <% end %>
            <% end %>
            
        </table>
    </main>
 
<%= erb :default_footer %>